---
title: 'Camps'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'camps/'
eleventyNavigation:
    key: Camps
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/camps.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-849">
    <div class="cs-container">
        <span class="cs-int-title">Camps</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.png">
        <img loading="lazy" decoding="async" src="/assets/images/banner.png" alt="yoga" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1631">
    <div class="cs-container">
        <div class="cs-flex">
            <video class="cs-video" loading="lazy" autoplay muted loop playsinline>
                <source media="(max-width: 600px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Camp%20Details.mp4" type="video/mp4">
                <source media="(min-width: 601px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Camp%20Details.mp4" type="video/mp4">
                <img srcset="/assets/images/camps-p.png" alt="Elite Earthworks California" media="(min-width: 601px)">
                <img srcset="/assets/images/camps-p-m.png" alt="Elite Earthworks company southern California" media="(max-width: 600px)">
            </video> 
            <div class="cs-content">
                <span class="cs-topper">Summer Camps 2023</span>
                <h2 class="cs-title">About Our Youth Summer Camps</h2>
                <p class="cs-text">
                    Our youth soccer camps are designed to give players ages 5-14 an opportunity to learn skills by our trained US coaches.  These camps are focused on developing technical skills, increasing motor skills, and giving players the opportunity to have an overall great week!  In addition to learning soccer, we are focused on developing the whole person through our Core Values that can be found on the about tab. We would love the opportunity to work with each of your kids this upcoming summer.
                </p>
            </div>
        </div>
        
    </div>
</section>



<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1579">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Current Camps</span>
            <h2 class="cs-title">Register Your Child For a Camp Today</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <a
                    href=" https://form.jotform.com/240888483798177">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/plantes-s-m.png">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/plantes-s-m.png">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/plantes-s-m.png"
                                width="365" height="201" alt="t-shirt">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Spokane Valley Camps</span>
                    <p class="cs-text">August 5th-9th @ Plantes Ferry Sports Complex</p>
                        <span class="cs-quantity">$150.00</span>
                    </div>
                </a>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <a
                    href="https://form.jotform.com/240888799332171">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/south_complex-s-m.png">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/south_complex-s.png">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/south_complex-s.png"
                                width="365" height="201" alt="t-shirt">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">South Hill Camps</span>
                        <p class="cs-text">July 15-19th @ South Hill Complex
                            July 22nd-26th @ South Hill Complex</p>
                        <span class="cs-quantity">$150.00</span>
                    </div>
                </a>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <a
                    href="https://form.jotform.com/240888684110158">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/union-s-m.png">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/union-s-m.png">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/union-s-m.png"
                                width="365" height="201" alt="t-shirt">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">Union Stadium Camps</span>
                    <p class="cs-text">June 24th-28th @ Union Stadium</p>
                    
                        <span class="cs-quantity">$150.00</span>
                    </div>
                </a>
                </a>
            </li>
        </ul>
    </div>
</section>

                   
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-563">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/toddler-m.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/toddler.png">
            <img loading="lazy" decoding="async" src="/assets/images/toddler.png" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Youth Camps</span>
            <h2 class="cs-title">Spring Toddlers Program At Comstock Park </h2>
            <p class="cs-text">
                Introducing our new Toddler program! Designed specifically for children aged 3.5 to 6 years old, this program offers a fantastic opportunity for your little ones to develop essential motor skills while getting their first taste of soccer in a fun and engaging environment. </p>
            <p class="cs-text">    
                Our program will run from <strong>April 11th - May 2nd from 6:00-6:45pm </strong>. We hope to see you there! </p>          
                      </p>                      
            <a
            href="https://form.jotform.com/240888526058164">
        <div class="cs-button-solid">Sign Up Now</div>
        </a>
                </div>
            </div>
        </section>
                   
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-849">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Youth Soccer Camp Details</h1>
            <p>
                Our youth soccer camps stand out due to several key features. Firstly, our camps offer a unique and structured curriculum designed to enhance soccer skills effectively. Secondly, participants benefit from high-quality technical training and game knowledge development led by college players, ensuring comprehensive skill enhancement. Additionally, daily scrimmages provide valuable practical experience and reinforce learning. Moreover, participants are grouped based on both age and ability, ensuring tailored instruction for optimal progress. Lastly, the camp offers engaging activities like Camp Ball and prizes, adding a fun and rewarding element to the experience!
            </p>
            <h4>Camp Directors</h4>
            <ul>
                <li>Morgan Hartanov - Previous Assistant at Whitworth University, Co-Founder of 90+ Project</li>
                <li>Noah Taigen - College Player at Northwest Nazarene University</li>
                <li>Brandon Shoff - Previous College Player at SFCC</li>
            </ul>
            <h4>Camp Details</h4>
            <ul>
                <li>Ability Level - All levels of players are welcome.  We group players by age and ability. </li>
                <li>Food - Snack is needed each day</li>
                <li>Equipment - Athletic shoes, shin guards, water, snack, sunscreen, appropriate clothing</li>
            </ul>
            <h4>Camp Details</h4>
            <ul>
                <li>Ability Level - All levels of players are welcome.  We group players by age and ability. </li>
                <li>Food - Snack is needed each day</li>
                <li>Equipment - Athletic shoes, shin guards, water, snack, sunscreen, appropriate clothing</li>
            </ul>
            <h4>Sample Schedule</h4>
            <ul>
                <li>9am - 10am - Agility, Speed, and Technical Development</li>
                <li>10am - 11am - Skill Development Game Rotations</li>
                <li>11am - 11:15am - Snack Break</li>
                <li>11:15am - 12pm - Tournaments, Scrimmage Games</li>
            </ul>
            <h1 class="cs-title">Toddler Camp Details</h1>
            <p>
                This program is for ages 3.5-6 years old. In this camp, we will implement a series of fun activities that keep the kids engaged through various motor skill development games. Our toddler program is unique and offers quality technical training and game knowledge developed by college players and coaches.
            </p>
            <h4>Toddler Camp Coaches</h4>
            <ul>
                <li>Morgan Hartanov - Previous Assistant at Whitworth University, Co-Founder of 90+ Project</li>
                <li>Noah Taigen - College Player at Northwest Nazarene University</li>
                <li>Brandon Shoff - Previous College Player at SFCC</li>
            </ul>
            <h4>Toddler Camp Details</h4>
            <ul>
                <li>Ability Level - All levels of players are welcome</li>
                <li>Will take place indoors at a gym or on field depending on date of camp</li>
                <li>Core Value review after every session</li>
                <li>Equipment - Athletic Shoes, Appropriate Clothing</li>
            </ul>
            <h4>Sample Schedule</h4>
            <ul>
                <li>6pm - 6:10pm - Warm up/Speed Agility Games</li>
                <li>6:10pm - 6:30pm - Skill/Motor Development Games</li>
                <li>11am - 11:15am - Snack Break</li>
                <li>6:30pm - 6:45pm - Introduction to Soccer Development Games </li>
            </ul>



        </div>
        <div class="cs-image-group">
            <!--Top Picture-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about_pic1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about_pic1.png">
                <img decoding="async" src="/assets/images/about_pic1.png" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
            <!--Top Picture-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about_pic2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about_pic2.png">
                <img decoding="async" src="/assets/images/about_pic2.png" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>        
                                                                
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Taylor
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    
                        US Spokane camps are the best! My 4 yr old stays engaged and has so much fun. Morgan is a fabulous coach and the kids feel really encouraged and excited to come back each week!
                    </p>
                </br>
            </br>
        </br>
    </br>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Adam
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Had a wonderful experience working with Mo and his team. We learned a lot through his advise. Would thoroughly recommend working with them.
                    </p>
                </br>
            </br>
        </br>
        </br>
        
            </br>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Travis
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Mo was super helpful in mentoring me in coaching my daughters U10 team.  He has a gift with kids and is so knowledgeable in youth soccer!  Highly recommend US soccer for your kids soccer mentorship both for skills and for their character!
                    </p>
                </div>
            </br>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}