---
title: 'Camps'
description: 'Explore our youth and toddler soccer camps in Spokane, offering engaging programs for children aged 3.5 to 14. Led by experienced coaches, our camps focus on skill development, motor skills enhancement, and overall personal growth. Join us and watch your child thrive in our supportive and fun-filled environment!'
preloadImg: '/assets/images/banner.png'
permalink: 'camps/'
eleventyNavigation:
    key: Camps
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/camps.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1631">
    <div class="cs-container">
        <div class="cs-flex">
            <video class="cs-video" loading="lazy" autoplay muted loop playsinline>
                <source media="(max-width: 600px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Camp%20Details.mp4" type="video/mp4">
                <source media="(min-width: 601px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Camp%20Details.mp4" type="video/mp4">
                <img srcset="/assets/images/camps-p.png" alt="Elite Earthworks California" media="(min-width: 601px)">
                <img srcset="/assets/images/camps-p-m.png" alt="Elite Earthworks company southern California" media="(max-width: 600px)">
            </video> 
            <div class="cs-content">
                <span class="cs-topper">Youth Summer Camps</span>
                <h2 class="cs-title">About Our Youth Summer Camps</h2>
                <p class="cs-text">
                    Our youth soccer camps are designed to give players ages 5-14 an opportunity to learn skills by our trained US coaches.  These camps are focused on developing technical skills, increasing motor skills, and giving players the opportunity to have an overall great week!  In addition to learning soccer, we are focused on developing the whole person through our Core Values that can be found on the about tab. We would love the opportunity to work with each of your kids this upcoming summer.
                </p>
            </div>
        </div>
        
    </div>
</section>



<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-1579">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Register Now</span>
            <h2 class="cs-title">Youth Camp Registration</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a
                href="https://forms.gle/op6r9YS6uKEA4jVN7" target="_blank">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/union-s-m.png">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/union-s-m.png">
                    <img loading="lazy" decoding="async"
                            src="/assets/images/union-s-m.png"
                            width="365" height="201" alt="t-shirt">
                </picture>
                <div class="cs-info">
                    <span class="cs-category">Union Stadium Camps</span>
                <p class="cs-text">June 24th - June 28th 
                </br>
                 Union Stadium
                                </br>
                 9:00am - 12:00pm
                </p>
                    <span class="cs-quantity">$150.00</span>
                </br>
                    <div id="button-box-838" class="cs-contact-group">
                        <a href="https://forms.gle/op6r9YS6uKEA4jVN7" target="_blank" class="cs-button-solid">Sign up Now</a>
                        <a href="/camp_details" class="cs-button-solid2">View Camp Details</a>
                    </div>
                </div>
            </a>
        </li>
        <li class="cs-item">
            <a
            href="https://forms.gle/X5n7AvsD6d6szAB17" target="_blank">
            <picture class="cs-picture" aria-hidden="true">
                <source media="(max-width: 600px)"
                        srcset="/assets/images/south_complex-s-m.png">
                <source media="(min-width: 601px)"
                        srcset="/assets/images/south_complex-s.png">
                <img loading="lazy" decoding="async"
                        src="/assets/images/south_complex-s.png"
                        width="365" height="201" alt="t-shirt">
            </picture>
            <div class="cs-info">
                <span class="cs-category">South Hill Camps</span>
                <p class="cs-text">July 15th - July 19th
                </br>
                    July 22nd - July 26th
                </br>
                    South Hill Complex
                </br>
                9:00am - 12:00pm
                </p>
                <span class="cs-quantity">$150.00</span>
                <div id="button-box-838" class="cs-contact-group">
                    <a href="https://forms.gle/X5n7AvsD6d6szAB17" target="_blank" class="cs-button-solid">Sign up Now</a>
                    <a href="/camp_details" class="cs-button-solid2">View Camp Details</a>
                </div>
            </div>
        </a>
    </li>
        </ul>
    </div>
</section>
                   
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-563">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/toddler-m.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/toddler.png">
            <img loading="lazy" decoding="async" src="/assets/images/toddler.png" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Toddler Camps</span>
            <h2 class="cs-title">About Our Toddler Camps </h2>
            <p class="cs-text">
                Toddler Camps are here! Designed specifically for children aged 3.5 to 6 years old, this program offers a fantastic opportunity for your little ones to develop essential motor skills while getting their first taste of soccer in a fun and engaging environment. </p>                  
             </a>
                </div>
            </div>
        </section>

<!-- ============================================ -->
<!--                  Collection                  -->
<!-- ============================================ -->

<section id="collection-2">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Register Now</span>
            <h2 class="cs-title">Toddler Camp Registration</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                    <a
                    href="https://buy.stripe.com/5kA8wzfeq7rBdvWeUW" target="_blank">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/comstock-m.png">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/comstock.png">
                        <img loading="lazy" decoding="async"
                                src="/assets/images/comstock.png"
                                width="365" height="201" alt="t-shirt">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-category">South Spokane Toddler Camps</span>
                        <p class="cs-text">Tuesday's August 6th - August 27th
                        </br>
                        Comstock Park
                        </br>
                        5:00pm - 5:45pm
                        </p>
                        
                        <span class="cs-quantity">$75.00</span>
                    </br>
                        <div id="button-box-838" class="cs-contact-group">
                            <a href="https://buy.stripe.com/5kA8wzfeq7rBdvWeUW" target="_blank" class="cs-button-solid">Sign up Now</a>
                            <a href="/camp_details" class="cs-button-solid2">View Camp Details</a>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
                                                                
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/woman.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Taylor
                        <span class="cs-job">Customer</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        US Spokane camps are the best! My 4 yr old stays engaged and has so much fun. Morgan is a fabulous coach and the kids feel really encouraged and excited to come back each week!
                    </p>
                </br>
            </br>
        </br>
    </br>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="/assets/images/quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/man.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Adam
                        <span class="cs-job">Customer</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Had a wonderful experience working with Mo and his team. We learned a lot through his advise. Would thoroughly recommend working with them.
                    </p>
                </br>
            </br>
        </br>
        </br>
        
            </br>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="/assets/images/quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/images/man.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Travis
                        <span class="cs-job">Customer</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Mo was super helpful in mentoring me in coaching my daughters U10 team.  He has a gift with kids and is so knowledgeable in youth soccer!  Highly recommend US soccer for your kids soccer mentorship both for skills and for their character!
                    </p>
                </div>
            </br>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="/assets/images/quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
        <a href="https://www.google.com/search?q=us+spokane+soccer&sca_esv=ad5fa5b217b92b02&sca_upv=1&rlz=1C1VDKB_enUS1004US1004&sxsrf=ACQVn0_fA2sC0lwpCCxcK_Fif1gPvAFarA%3A1711827758133&ei=LmsIZvLsB7TBkPIPg6aGgAw&ved=0ahUKEwjyu8Kr35yFAxW0IEQIHQOTAcAQ4dUDCBA&uact=5&oq=us+spokane+soccer&gs_lp=Egxnd3Mtd2l6LXNlcnAiEXVzIHNwb2thbmUgc29jY2VyMgQQIxgnSJwbUJEXWJEXcAJ4AZABAJgBaKABaKoBAzAuMbgBA8gBAPgBAZgCA6ACccICChAAGEcY1gQYsAPCAhMQLhiABBiKBRhDGMcBGK8BGLADmAMA4gMFEgExIECIBgGQBgmSBwMyLjGgB_cB&sclient=gws-wiz-serp#lrd=0x6ed80e84e3458897:0xa97ab0b2968f9ed7,1,,,,"><div class="cs-button-solid">See More Reviews</div></a>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}