---
title: 'Camp Details'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'camp_details/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/camp_details.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-849">
    <div class="cs-container">
        <span class="cs-int-title">Camp Details</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg" alt="yoga" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</div>                    

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-849">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Youth Soccer Camp Details</h1>
            <p>
                Our youth soccer camps stand out due to several key features. Firstly, our camps offer a unique and structured curriculum designed to enhance soccer skills effectively. Secondly, participants benefit from high-quality technical training and game knowledge development led by college players, ensuring comprehensive skill enhancement. Additionally, daily scrimmages provide valuable practical experience and reinforce learning. Moreover, participants are grouped based on both age and ability, ensuring tailored instruction for optimal progress. Lastly, the camp offers engaging activities like Camp Ball and prizes, adding a fun and rewarding element to the experience!
            </p>
            <h4>Camp Directors</h4>
            <ul>
                <li>Morgan Hartanov - Previous Assistant at Whitworth University, Co-Founder of 90+ Project</li>
                <li>Noah Taigen - College Player at Northwest Nazarene University</li>
                <li>Brandon Shoff - Previous College Player at SFCC</li>
            </ul>
            <h4>Camp Details</h4>
            <ul>
                <li>Ability Level - All levels of players are welcome.  We group players by age and ability. </li>
                <li>Food - Snack is needed each day</li>
                <li>Equipment - Athletic shoes, shin guards, water, snack, sunscreen, appropriate clothing</li>
            </ul>
            <h4>Camp Details</h4>
            <ul>
                <li>Ability Level - All levels of players are welcome.  We group players by age and ability. </li>
                <li>Food - Snack is needed each day</li>
                <li>Equipment - Athletic shoes, shin guards, water, snack, sunscreen, appropriate clothing</li>
            </ul>
            <h4>Sample Schedule</h4>
            <ul>
                <li>9am - 10am - Agility, Speed, and Technical Development</li>
                <li>10am - 11am - Skill Development Game Rotations</li>
                <li>11am - 11:15am - Snack Break</li>
                <li>11:15am - 12pm - Tournaments, Scrimmage Games</li>
            </ul>
            <h1 class="cs-title">Toddler Camp Details</h1>
            <p>
                This program is for ages 3.5-6 years old. In this camp, we will implement a series of fun activities that keep the kids engaged through various motor skill development games. Our toddler program is unique and offers quality technical training and game knowledge developed by college players and coaches.
            </p>
            <h4>Toddler Camp Coaches</h4>
            <ul>
                <li>Morgan Hartanov - Previous Assistant at Whitworth University, Co-Founder of 90+ Project</li>
                <li>Noah Taigen - College Player at Northwest Nazarene University</li>
                <li>Brandon Shoff - Previous College Player at SFCC</li>
            </ul>
            <h4>Toddler Camp Details</h4>
            <ul>
                <li>Ability Level - All levels of players are welcome</li>
                <li>Will take place indoors at a gym or on field depending on date of camp</li>
                <li>Core Value review after every session</li>
                <li>Equipment - Athletic Shoes, Appropriate Clothing</li>
            </ul>
            <h4>Sample Schedule</h4>
            <ul>
                <li>6pm - 6:10pm - Warm up/Speed Agility Games</li>
                <li>6:10pm - 6:30pm - Skill/Motor Development Games</li>
                <li>11am - 11:15am - Snack Break</li>
                <li>6:30pm - 6:45pm - Introduction to Soccer Development Games </li>
            </ul>



        </div>
        <div class="cs-image-group">
            <!--Top Picture-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about_pic1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about_pic1.png">
                <img decoding="async" src="/assets/images/about_pic1.png" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
            <!--Top Picture-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about_pic2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about_pic2.png">
                <img decoding="async" src="/assets/images/about_pic2.png" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                                  
{% endblock %}