---
title: 'Camps'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'camps/'
eleventyNavigation:
    key: Camps
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/camps.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-849">
    <div class="cs-container">
        <span class="cs-int-title">Camps</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner.png">
        <img loading="lazy" decoding="async" src="/assets/images/banner.png" alt="yoga" width="1280" height="568">
    </picture>
    <!--Change the svg path fill color to whatever color the section below is so you can match it and create the illusion it is all one piece-->
    <svg class="cs-wave" width="1920" height="179" viewBox="0 0 1920 179" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
    </svg>
</div>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1631">
    <div class="cs-container">
        <div class="cs-flex">
            <video class="cs-video" loading="lazy" autoplay muted loop playsinline>
                <source media="(max-width: 600px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Camp%20Details.mp4" type="video/mp4">
                <source media="(min-width: 601px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Camp%20Details.mp4" type="video/mp4">
                <img srcset="/assets/images/camps-p.png" alt="Elite Earthworks California" media="(min-width: 601px)">
                <img srcset="/assets/images/camps-p-m.png" alt="Elite Earthworks company southern California" media="(max-width: 600px)">
            </video> 
            <div class="cs-content">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Experience the Immersive Impact of Stitch Consulting Services on Your Business</h2>
                <p class="cs-text">
                    Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus inventore sint rem impedit esse quasi.
                </p>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Answer a Few Questions
                </h3>
                <p class="cs-item-text">
                    We welcome and celebrate different perspectives to help our firm, our clients and our people achieve adip iscing elit enduring results.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Complimentary Call
                </h3>
                <p class="cs-item-text">
                    We welcome and celebrate different perspectives to help our firm, our clients and our people achieve adip iscing elit enduring results.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <picture class="cs-wrapper">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg" alt="icon" width="24" height="24">
                    </picture>
                    Grow Your Wealth
                </h3>
                <p class="cs-item-text">
                    We welcome and celebrate different perspectives to help our firm, our clients and our people achieve adip iscing elit enduring results.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-448">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Summer Camps 2023</span>
            <h2 class="cs-title">About Our Youth Summer Camps</h2>
            <p class="cs-text">
                Our youth soccer camps are designed to give players ages 5-14 an opportunity to learn skills by our trained US coaches.  These camps are focused on developing technical skills, increasing motor skills, and giving players the opportunity to have an overall great week!  In addition to learning soccer, we are focused on developing the whole person through our Core Values that can be found on the About tab.  We would love the opportunity to work with each of your kids this upcoming summer.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/ball.png" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">South Spokane</h3>
                    <p class="cs-item-text">July 15-19th @ South Hill Complex
                    </br>
                    July 22nd-26th @ South Hill Complex
                    </p>
                    <a href="/south_hill" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/south_complex-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/south_complex.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/south_complex.png" alt="leaf" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/ball.png" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">North Spokane</h3>
                    <p class="cs-item-text">June 24th-28th @ Union Stadium</p>
                </br>
                    <a href="/union_stadium" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/union-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/union.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/union.png" alt="grass" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/ball.png" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Spokane Valley</h3>
                    <p class="cs-item-text">August 5th-9th @ Plantes Ferry Sports Complex</p>
                    <a href="/spokane_valley" class="cs-link">Read More</a>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/plantes-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/plantes.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/plantes.png" alt="leaves" width="345" height="428">
                </picture>
            </li>
        </ul>
    </div>
</section>
                   
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-563">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/toddler-m.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/toddler.png">
            <img loading="lazy" decoding="async" src="/assets/images/toddler.png" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Youth Camps</span>
            <h2 class="cs-title">Spring Toddlers Program At Comstock Park </h2>
            <p class="cs-text">
                Introducing our new Toddler program! Designed specifically for children aged 3.5 to 6 years old, this program offers a fantastic opportunity for your little ones to develop essential motor skills while getting their first taste of soccer in a fun and engaging environment. </p>
            <p class="cs-text">    
                Our program will run from <strong>April 11th - May 2nd from 6:00-6:45pm </strong>. We hope to see you there! </p>          
                      </p>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>
                                
                                                                
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Brooklyn Simmons
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Cameron Williamson
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}