---
title: 'Coach Consulting'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'coach_consulting/'
eleventyNavigation:
    key: Coach_consulting
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/coach_consulting.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-522">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Coach Consulting Spokane </span>
            <h2 class="cs-title">Interested in Coach Consulting? 
            </h2>
            <p class="cs-text">
                At US Spokane we provide <strong>free</strong> coach consulting in a variety of ways.  If you're a volunteer soccer coach looking to improve your coaching skills and make a greater impact on your team, then soccer coaching consulting may be the perfect solution for you. As a soccer coach consultant, we work with volunteer coaches to help them develop the knowledge and skills necessary to become more effective coaches.
            </p>

            <p class="cs-text">
                Our coaching philosophy is based on creating a positive and encouraging environment that inspires players to improve their skills and enjoyment of the game of soccer. During our consulting sessions, we will work closely with you to identify areas where you may need help, such as planning practices, implementing training techniques, or developing game strategies. 
            </p>

            <p class="cs-text">
                As a consultant, I will also provide you with resources and support to help you succeed. This may include access to training videos, coaching manuals, and other educational materials that will help you improve your coaching skills. I will also be available to answer any questions you may have and provide ongoing feedback and support throughout the season.
            </p>

            <p class="cs-text">
                Whether you're a new volunteer coach or an experienced coach looking to take your coaching skills to the next level, soccer coach consulting can help you achieve your coaching goals. By working with a consultant, you will gain the knowledge, skills, and confidence you need to become a more effective and successful coach, and help your players reach their full potential on the field.            
            </p>

            <a href="/contact" class="cs-button-solid">contact us today</a>
        </div>
        <!--Image Group-->
        <div class="cs-image-group">
            <ul class="cs-stat-group">
                <li class="cs-stat">
                    <span class="cs-number">50+</span>
                    <span class="cs-desc">Coaches served throughout Spokane</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Customers satisfied with our coach consulting program</span>
                </li>
            </ul>
            <!--video-->
            <video class="cs-video" loading="lazy" autoplay muted loop playsinline>
                <source media="(max-width: 600px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Coach%20Consulting.mp4" type="video/mp4">
                <source media="(min-width: 601px)" src="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Coach%20Consulting.mp4" type="video/mp4">
                <img srcset="/assets/images/usspokane-p.png" alt="Elite Earthworks California" media="(min-width: 601px)">
                <img srcset="/assets/images/usspokane-p-m.png" alt="Elite Earthworks company southern California" media="(max-width: 600px)">
            </video> 
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-678">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/mo-m.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/mo.png">
                <img loading="lazy" decoding="async" src="/assets/images/mo.png" alt="landscape" width="562" height="568">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Soccer Coach Consultants</span>
            <h2 class="cs-title">Meet The <span class="cs-color">Coach</span></h2>
            <h2>Morgan Hartanov</h2>
            <p class="cs-text">
                I have coached all levels of the game from U5-U23 through my 15+ years of coaching soccer.  I have worked for multiple clubs and schools in the Spokane area as a youth director, coaching director, and head coach.  I desire to serve coaches locally in Spokane by giving them tools to be more successful at engaging, retaining and developing players of all ages.             
            </p>
            
                <p class="cs-text">
                    Coach consulting is FREE to all volunteer coaches and is provided on a first-come, first-served basis while availability lasts.
                </p>

                <div class="cs-contact-group">
                <a class="cs-link" href="tel:555-555-0234">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/phone.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Call Now</span>
                        <span class="cs-link-content">(509) 999 4050</span>
                    </div>
                </a>
                <a class="cs-link" href="mailto:Info@health&wellness.com">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/mail.svg" alt="icon" width="24" height="24">
                    </picture>
                    <div class="cs-info">
                        <span class="cs-header">Send A Message</span>
                        <span class="cs-link-content">mo@usspokane.com</span>
                    </div>
                </a>
            </div>
            <a href="/contact" class="cs-button-solid" aria-label="learn more about us">Request A Meeting</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Videos</span>
            <h2 class="cs-title">View Our Coaching Videos</h2>
            <p class="cs-text">
                Explore our coaching videos below, crafted to elevate your soccer coaching skills and strategy. Gain valuable insights and techniques from our expert coaches to excel in the field.            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="https://usspokane.nyc3.cdn.digitaloceanspaces.com/ask%20for%20feedback%20copy.mp4" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/tip1-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/tip1.png">
                        <img loading="lazy" decoding="async" src="/assets/images/tip1.png" alt="fancy house" width="346" height="346">
                    </picture>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Begin%20with%20a%20game.mp4" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/tip2-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/tip2.png">
                        <img loading="lazy" decoding="async" src="/assets/images/tip2.png" alt="modern house" width="346" height="346">
                    </picture>

                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="https://usspokane.nyc3.cdn.digitaloceanspaces.com/Coaching%20donts.mp4" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/tip3-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/tip3.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/tip3.png" alt="modern home at night" width="346" height="346">
                    </picture>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="https://usspokane.nyc3.cdn.digitaloceanspaces.com/get%20rid%20of%20lines.mp4" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/tip4-m.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/tip4.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/tip4.png" alt="modern home" width="346" height="346">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>
                                                                
{% include 'components/cta.html' %}

{% endblock %}