---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1151">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">We Love to Hear from Our Happy Customers</h2>
        </div>
        <div class="cs-contact-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/form_pic-m.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/form_pic.png">
                <img loading="lazy" decoding="async" src="/assets/images/form_pic.png" alt="people" width="630" height="300">
            </picture>
            <ul class="cs-ul">
                <li class="cs-li">
                    <div class="cs-flex-group">
                        <span class="cs-header">Phone</span>
                        <a href="tel:888-4565-789
                        " class="cs-link">+1 (509) 999 4050
                        </a>
                    </div>
                </li>
                <li class="cs-li">
                    <div class="cs-flex-group">
                        <span class="cs-header">Email</span>
                        <a href="" class="cs-link">mo@usspokane.com</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--Form-->
        <form class="cs-form" id="cs-form-1151" name="Contact Form" method="post" netlify>
            <label class="cs-label">
                First Name
                <input class="cs-input" required type="text" id="name-322" name="name" placeholder="First Name">
            </label>
            <label class="cs-label">
                Last Name
                <input class="cs-input" required type="text" id="name-322" name="name" placeholder="Last Name">
                <div class="checkbox">

            </div>
            </label>
            <label class="cs-label cs-email">
                Email
                <input class="cs-input" required type="text" id="email-322" name="email" placeholder="Email">
                
            </label>
            <label class="cs-label cs-phone">
                Phone
                <input class="cs-input" required type="text" id="phone-322" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Message
                <textarea class="cs-input cs-textarea" required name="Message" id="message-322" placeholder="Write message..."></textarea>
            </label>
            <div class="cs-button-solid cs-submit" type="submit">Make an Appointment</div>
        </form>
    </div>
</section>
                                   
{% include 'components/cta.html' %}

{% endblock %}