/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #banner-849 {
    /* 175px - 260px top */
    padding: clamp(10.9375rem, 20vw, 16.25rem) 1rem clamp(6.25rem, 14vw, 12vw);
    /* clips svg wave from causing overflow issues */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #banner-849 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }
  #banner-849 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #banner-849 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-849 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    opacity: 0.64;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-849 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
  #banner-849 .cs-wave {
    /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
    width: 48rem;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #banner-849 .cs-background:before {
    opacity: 1;
    background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.9) 16.86%, rgba(0, 0, 0, 0) 100%);
  }
  #banner-849 .cs-wave {
    width: 100%;
    left: 0;
    transform: none;
  }
}
/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #contact-322 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #contact-322 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.25rem;
  }
  #contact-322 .cs-content {
    text-align: left;
  }
  #contact-322 .cs-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
  }
  #contact-322 .cs-label {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #contact-322 .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 0.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
  }
  #contact-322 .cs-input::placeholder {
    color: #7d799c;
    opacity: 0.6;
  }
  #contact-322 .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-family: inherit;
  }
  #contact-322 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #contact-322 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #contact-322 .cs-button-solid:hover:before {
    width: 100%;
  }
  #contact-322 .cs-submit {
    text-transform: uppercase;
    width: 17.6875rem;
    color: var(--headerColor);
    background-color: var(--secondaryLight);
    border: none;
    transition: color 0.3s;
  }
  #contact-322 .cs-submit:hover {
    color: #fff;
    cursor: pointer;
  }
  #contact-322 .cs-right {
    width: 100%;
    /* 16px - 24px */
    padding: clamp(1rem, 3.5vw, 1.5rem);
    border-radius: 1.5rem;
    display: flex;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* 24px - 32px */
    gap: clamp(1.5rem, 4vw, 2rem);
  }
  #contact-322 .cs-contact-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: #131D44;
  }
  #contact-322 .cs-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  #contact-322 .cs-header {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--secondaryLight);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
  }
  #contact-322 .cs-link,
  #contact-322 .cs-hours {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #contact-322 .cs-link:hover {
    color: var(--secondaryLight);
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #contact-322 .cs-contact-group {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #contact-322 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #contact-322 .cs-content {
    max-width: 32.625rem;
  }
  #contact-322 .cs-title,
  #contact-322 .cs-topper {
    text-align: left;
    margin-left: 0;
  }
  #contact-322 .cs-title {
    max-width: 32.625rem;
  }
  #contact-322 .cs-email,
  #contact-322 .cs-phone {
    width: 48%;
  }
  #contact-322 .cs-button-solid {
    margin-left: 0;
  }
  #contact-322 .cs-right {
    width: 51.6%;
    max-width: 41.125rem;
    /* prevent flexbox from squishing it */
    flex: none;
  }
}
