/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-684 {
    padding: var(--sectionPadding);
    /* clips the zigzag graphic so it does cause overflows */
    overflow: hidden;
  }
  #sbsr-684 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-684 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-684 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-684 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-684 .cs-image-group {
    /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
    font-size: min(2.3vw, .75em);
    width: 39.5em;
    height: 51.25em;
    position: relative;
    z-index: 1;
  }
  #sbsr-684 .cs-picture {
    width: 19.125em;
    height: 22.5em;
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #sbsr-684 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-684 .cs-picture1 {
    top: 0em;
    left: 0;
  }
  #sbsr-684 .cs-picture2 {
    top: 5em;
    right: 0;
  }
  #sbsr-684 .cs-picture3 {
    bottom: 5em;
    left: 0;
  }
  #sbsr-684 .cs-picture4 {
    bottom: 0em;
    right: 0;
  }
  #sbsr-684 .cs-graphic {
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-684 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #sbsr-684 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-684 .cs-graphic {
    width: 61.4375em;
    height: auto;
    display: block;
    position: absolute;
    bottom: 10.3125em;
    left: -2em;
    z-index: -1;
    /* flips it horizontally */
    transform: scaleX(-1);
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-887 {
    padding: var(--sectionPadding);
  }
  #stats-887 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #stats-887 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #stats-887 .cs-text {
    margin-bottom: 1rem;
  }
  #stats-887 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #stats-887 .cs-card-group {
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #stats-887 .cs-item {
    text-align: center;
    list-style: none;
    /* changes at small desktop then again at large desktop */
    width: 100%;
    /* 44px - 60px */
    padding: clamp(2.75rem, 5vw, 3.75rem) 2rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* clips cs-icon overflowing */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
    position: relative;
  }
  #stats-887 .cs-item:nth-of-type(1) {
    background-color: #fef7f4;
    border-radius: 0 5rem 0 5rem;
  }
  #stats-887 .cs-item:nth-of-type(2) {
    background-color: #e8e8e8;
    border-radius: 5rem 0 5rem 0;
  }
  #stats-887 .cs-item:nth-of-type(3) {
    background-color: #fbcebd;
    border-radius: 5rem 0 5rem 0;
  }
  #stats-887 .cs-item:nth-of-type(4) {
    background-color: #f7f7f7;
    border-radius: 0 5rem 0 5rem;
  }
  #stats-887 .cs-number {
    /* 39px - 49px */
    font-size: clamp(2.4375rem, 6vw, 3.0625rem);
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 900;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #stats-887 .cs-desc {
    /* 16px -20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #stats-887 .cs-item {
    grid-column: span 1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #stats-887 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
