/*-- -------------------------- -->
<---       Why Choose Us        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1631 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }

        .cs-flex {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem)
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (608/16rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (0/16rem);
            }
        }
        .cs-button-solid {
            margin-top: 1rem;
        }

        .cs-video {
            display: block;
            position: relative;
            width: 100%;
            max-width: (630/16rem);
            /* chnages to auto at tablet */
            height: 50vw;
            /* removed at tablet */
            max-height: (400/16rem);
            /* clips img tag corners */
            overflow: hidden;
            /* sends it to the 2nd posiiton in the bottom */
            order: 2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            align-items: stretch;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 2rem);
            row-gap: (28/16rem);
        }

        .cs-item {
            list-style: none;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
            transition: color 0.3s;
        }

        .cs-wrapper {
            width: (48/16rem);
            height: (48/16rem);
            border: 1px solid var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-h3-icon {
            width: (24/16rem);
            height: auto;
            margin-top: 2px;
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition:
                color 0.3s,
                opacity 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1631 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-flex {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            width: 50%;
            /* 32px - 56px top and bottom */
            padding: clamp(2rem, 4vw, 3.5rem) 0;
            align-self: center;
            flex: none;
        }

        .cs-picture {
            width: 47vw;
            min-height: (400/16rem);
            max-height: 100%;
            height: auto;
            /* sends it to the left in the 1st position */
            order: -1;
            position: relative;
        }
        
        .cs-item {
            grid-column: span 4;
        }
    }
}

/*-- -------------------------- -->
<---         Collection         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #collection-1579 {
        padding: var(--sectionPadding);
        padding-top: 0;

        a {
            text-decoration: none;
        }

        .cs-info .cs-contact-group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px on tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-topper {
            color: var(--primary);
        }

        .cs-card-group {
            list-style: none;
            width: 100%;
            margin: auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: clamp(1rem, 3vw, 1.25rem);
        }

        .cs-item {
            text-align: center;
            max-width: 100%;
            grid-column: span 12;
            position: relative;

            &:hover {

                .cs-category {
                    color: var(--primary);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-picture {
            width: 100%;
            height: 62vw;
            max-height: (348/16rem);
            /* 16px - 20px */
            margin: 0 0 clamp(1rem, 2.3vw, 1.25rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity .3s, transform .6s;
            }
        }

        .cs-category {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            text-decoration: none;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            display: flex;
            justify-content: center;
            position: relative;
            transition: color .3s ease;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-quantity {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: center;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-1579 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 8;
        }

        .cs-picture {
            /* 180px - 348px */
            height: clamp(11.75rem, 25vw, 21.75rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-1579 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            /* 180px - 348px */
            height: clamp(11.75rem, 25vw, 21.75rem);
        }
    }
}
 
/*-- -------------------------- -->
<---         Collection         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #collection-2 {
        padding: var(--sectionPadding);
        padding-top: 0;

        a {
            text-decoration: none;
        }

        .cs-info .cs-contact-group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px on tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-topper {
            color: var(--primary);
        }

        .cs-card-group {
            list-style: none;
            width: 100%;
            margin: auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(8, 1fr);                                       /* WHEN LIVE CHANGE THIS TO 12 INSTEAD OF 8 */
            gap: clamp(1rem, 3vw, 1.25rem);
        }

        .cs-item {
            text-align: center;
            max-width: 100%;
            grid-column: span 12;
            position: relative;

            &:hover {

                .cs-category {
                    color: var(--primary);
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-picture {
            width: 100%;
            height: 62vw;
            max-height: (348/16rem);
            /* 16px - 20px */
            margin: 0 0 clamp(1rem, 2.3vw, 1.25rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity .3s, transform .6s;
            }
        }

        .cs-category {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            text-decoration: none;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            display: flex;
            justify-content: center;
            position: relative;
            transition: color .3s ease;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-quantity {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: center;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-2 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 8;
        }

        .cs-picture {
            /* 180px - 348px */
            height: clamp(11.75rem, 25vw, 21.75rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-2 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            /* 180px - 348px */
            height: clamp(11.75rem, 25vw, 21.75rem);
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-563 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--primary);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-color {
            color: var(--primary);
        }

        .cs-h3 {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 3vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            /* 16px - 20px */
            margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
            color: var(--headerColor);
        }
        
        .cs-picture {
            /* changes at tablet */
            width: 100%;
            max-width: (630/16rem);
            /* changes to a clamp at tablet */
            height: (396/16rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-563 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .cs-picture {
            width: 46vw;
            /* 415px - 528px */
            height: clamp(25.9375rem, 50vw, 33rem);
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-content {
            width: 45%;
            max-width: (520/16rem);
        }
    }
}
                                
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1672 {
        padding: var(--sectionPadding);
        padding-top: 0;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: auto;
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1672 {
        .cs-item {
            grid-column: span 4;
        }
    }
}
                                