/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-879 {
        padding: var(--sectionPadding);
        /* clips the svg wave from overflowing */
        overflow: hidden;
        position: relative;
        background-color: #f7f7f7;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
            z-index: 1;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            grid-column: span 6;
        }

        .cs-link {
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: (420/16rem);
            padding: (20/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-radius: (16/16rem);
            /* clips img corners around the border */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: (12/16rem);
            position: relative;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-item-p {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            object-fit: cover;

            &:before {
                /* gradient overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    0deg,
                    #000000 10.13%,
                    rgba(0, 0, 0, 0) 40.71%
                );
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: height 0.3s;
            }

            img {
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                position: relative;
                z-index: -1;
                transition: transform 0.6s;
            }
        }

        .cs-wave {
            /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
            width: 320%;
            height: auto;
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-879 {
        .cs-item {
            grid-column: span 3;
            &:last-of-type {
                grid-column: span 6;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-879 {
        /* the padding grows with the screen width so as the svg gets taller it doesn't overlap the section */
        padding-bottom: 14vw;
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 2;
            &:last-of-type {
                grid-column: span 2;
            }
        }

        .cs-link {
            &:hover,
            &:focus-within {
                .cs-h3 {
                    color: var(--primary);
                    transform: translateY(0);
                }

                .cs-item-p {
                    height: auto;
                    opacity: 1;
                    transform: translateY(0);
                }

                .cs-background {
                    &:before {
                        height: 180%;
                    }
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-h3 {
            /* transform down the same amount as the flex gap */
            transform: translateY(0.75rem);
            transition:
                transform 0.3s,
                color 0.3s;
        }

        .cs-item-p {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transform: translateY(3.125rem);
            transition:
                height 0.3s,
                opacity 0.3s,
                transform 0.3s;
        }

        .cs-wave {
            width: 100%;
            left: 0;
            transform: none;
        }
    }
}

                                
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-684 {
        padding: var(--sectionPadding);
        /* clips the zigzag graphic so it does cause overflows */
        overflow: hidden;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
            font-size: ~"min(2.3vw, .75em)";
            width: (632/16em);
            height: (820/16em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: (306/16em);
            height: (360/16em);
            overflow: hidden;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            top: (0/16em);
            left: 0;
        }

        .cs-picture2 {
            top: (80/16em);
            right: 0;
        }

        .cs-picture3 {
            bottom: (80/16em);
            left: 0;
        }

        .cs-picture4 {
            bottom: (0/16em);
            right: 0;
        }

        .cs-graphic {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-684 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-graphic {
            width: (983/16em);
            height: auto;
            display: block;
            position: absolute;
            bottom: (165/16em);
            left: (-32/16em);
            z-index: -1;
            /* flips it horizontally */
            transform: scaleX(-1);
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-887 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            /* changes at small desktop then again at large desktop */
            width: 100%;
            /* 44px - 60px */
            padding: clamp(2.75rem, 5vw, 3.75rem) (32/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* clips cs-icon overflowing */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 2;
            position: relative;

            &:nth-of-type(1) {
                background-color: #fef7f4;
                border-radius: 0 (80/16rem) 0 (80/16rem);
            }
            &:nth-of-type(2) {
                background-color: #e8e8e8;
                border-radius: (80/16rem) 0 (80/16rem) 0;
            }
            &:nth-of-type(3) {
                background-color: #fbcebd;
                border-radius: (80/16rem) 0 (80/16rem) 0;
            }
            &:nth-of-type(4) {
                background-color: #f7f7f7;
                border-radius: 0 (80/16rem) 0 (80/16rem);
            }
        }

        .cs-number {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 6vw, 3.0625rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-desc {
            /* 16px -20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-887 {
        .cs-item {
            grid-column: span 1;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-887 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

                                                                