---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

 <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-219">
    <div class="cs-container">
        <h1 class="cs-title">Investing In Kids, </br>Investing In Community</h1>
        <p class="cs-text">
            Unlocking Potential and Building Community: US Spokane Soccer Camps for Youth Development and Fun        
        </p>
        <a href="" class="cs-button-solid">Request Appointment</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img decoding="async" src="/assets/images/hero.webp" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-684">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us1-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us1.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us1.png" alt="people outside" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us3.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us3.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us3.png" alt="people outside" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us2-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us2.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us2.png" alt="person gardening" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us4-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us4.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us4.png" alt="urban environment in green" width="306" height="360">
            </picture>
            <!--Zig Zag Graphic-->
            <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our camps</span>
            <h2 class="cs-title">Soccer <span class="cs-color">Camps</span> </h2>
            <p class="cs-text">
                We offer two different types of camps to accommodate children of different ages and skill levels.
            </p>
            <h2>Toddler Series</h2>
            <p class="cs-text">
                Our Toddler Series are designed for children ages 3-6. These camps provide a fun and interactive introduction to the game of soccer. Our experienced coaches use age-appropriate drills and games to teach basic soccer skills and motor skill development. We focus on building confidence and coordination in our little athletes, while also promoting teamwork and sportsmanship. The Toddler Series is a great way for kids to develop social skills and make new friends while having a blast on the field.
            </p>
            <h2>Summer Soccer Camps</h2>
            <p class="cs-text">
                Our Summer Soccer Camps are for children ages 5-14. These camps are perfect for both beginners and experienced players who want to improve their skills and have fun playing the beautiful game. Our coaches provide a challenging and stimulating environment where players can learn and develop advanced soccer techniques. Our curriculum includes agility development, skill-building drills, and competitive games that will keep your child engaged and motivated. We also place a strong emphasis on character development, teaching our players the value of discipline, hard work, and respect for themselves and others.            </p>
                <h2>Coach Consulting</h2>
                <p class="cs-text">
                    Volunteer coaches are underserved and play a vital role in the engagement and development of our youth.  US Spokane promotes a holistic coaching approach and exists to come alongside coaches, providing them with tools and techniques to help them get the most out of their coaching opportunities on and off the field.                     
                </p>
    
                <a class="cs-button-solid" href="">Book Appointment</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-887">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Mission</span>
            <h2 class="cs-title">Empowering Communities Through Soccer and Ubuntu</h2>
            <p class="cs-text">
                At Ubuntu Spokane (US), we're dedicated to fostering a thriving soccer community in Spokane, guided by the principles of Ubuntu. Through our exceptional coaching consulting and engaging summer soccer camps, we inspire children of all ages and skill levels to become passionate, skilled, and compassionate soccer players.            </p>
            <p class="cs-text">Our mission goes beyond the field. We believe in instilling values like Courage, Accountability, Friendship, and Communication, empowering players to succeed both on and off the pitch. With a focus on creating a safe and inclusive environment, we aim to cultivate confident individuals who will make a positive impact in their communities.</p>
            <p class="cs-text">Join us in embracing the spirit of Ubuntu and unleashing the potential within every player.</p>
            <a href="" class="cs-button-solid">Schedule An Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">25+</span>
                <span class="cs-desc">Professional <br>Experts</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">4.8k</span>
                <span class="cs-desc">Patients Served <br>Successfully</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">8+</span>
                <span class="cs-desc">Innovative Special <br>Equipments</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">7</span>
                <span class="cs-desc">Winning <br>Awwards</span>
            </li>
        </ul>
    </div>
</section>

<div id="cs-modal-1605" style="z-index: -10">
    <div class="cs-wrapper">
        <button id="cs-close-1605" class="cs-close" aria-label="close pop up">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Close.svg" alt="clothing" width="24" height="24" aria-hidden="true">
        </button>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/clothing.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/clothing.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/ecommerce/clothing.jpg" alt="clothing" width="413" height="500">
        </picture>
        <div class="cs-content">
            <span class="cs-header">
                Join Our Newsletter Get 20% Off On First Order
            </span>
            <p class="cs-text">
                With designs that spark conversations and evoke the spirit of adventure, empowers you to wear your passion on your sleeve.
            </p>
            <!--If you remove the form because you don't want it, make sure you remove "CSsubmitButton.addEventListener('click', handleClose);" in the JS code. It is adding an event listener on the submit button, if you remove the submit button JS freaks out that its trying to add an event listener to something that isn't there and won't work -->
            <form class="cs-form" name="Contact Form" method="post">
                <input class="cs-input" type="email" id="cs-email-1605" name="find-us" placeholder="Email Address">
                <button id="cs-submit-1605" class="cs-button-solid cs-submit" type="submit">Subscribe Now</button>
            </form>
            <div class="cs-social">
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/youtube1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
</div>
                                
                                
{% include 'components/cta.html' %}
{% endblock %}