---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

 <!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-219">
    <div class="cs-container">
        <h1 class="cs-title">Investing In Kids, </br>Investing In Community</h1>
        <p class="cs-text">
            Unlocking Potential and Building Community: US Spokane Soccer Camps for Youth Development and Fun        
        </p>
        <a href="/camps" class="cs-button-solid">See Our Camps</a>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img decoding="async" src="/assets/images/hero.webp" alt="kitchen" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-684">
    <div class="cs-container">
        <!-- Left Section -->

        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">Soccer <span class="cs-color">Camps</span> </h2>
            <p class="cs-text">
                We offer two different types of camps to accommodate children of different ages and skill levels.
            </p>
             <h2>Toddler Camps</h2>
            <p class="cs-text">
                Our Toddler Series are designed for children ages 3-6. These camps provide a fun and interactive introduction to the game of soccer. Our experienced coaches use age-appropriate drills and games to teach basic soccer skills and motor skill development. We focus on building confidence and coordination in our little athletes, while also promoting teamwork and sportsmanship. The Toddler Series is a great way for kids to develop social skills and make new friends while having a blast on the field.
            </p>
            <a class="cs-button-solid" href="https://form.jotform.com/240888526058164">Sign Up Now</a>
            
            <a href="/camps"><h2>Summer Soccer Camps</h2></a>
            <p class="cs-text">
                Our Summer Soccer Camps are for children ages 5-14. These camps are perfect for both beginners and experienced players who want to improve their skills and have fun playing the beautiful game. Our coaches provide a challenging and stimulating environment where players can learn and develop advanced soccer techniques. Our curriculum includes agility development, skill-building drills, and competitive games that will keep your child engaged and motivated. We also place a strong emphasis on character development, teaching our players the value of discipline, hard work, and respect for themselves and others.            
            </p>
            <a class="cs-button-solid" href="/camps">View Our Camps</a>
                
                <h2 class="cs-title">Coach <span class="cs-color">Consulting</span> </h2>
                <p class="cs-text">
                    Volunteer coaches are underserved and play a vital role in the engagement and development of our youth.  US Spokane promotes a holistic coaching approach and exists to come alongside coaches, providing them with tools and techniques to help them get the most out of their coaching opportunities on and off the field.                     
                </p>
    
                <a class="cs-button-solid" href="/contact">Book Appointment</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us1-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us1.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us1.png" alt="people outside" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us3.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us3.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us3.png" alt="people outside" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture3">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us2-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us2.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us2.png" alt="person gardening" width="306" height="360">
            </picture>
            <picture class="cs-picture cs-picture4">
                <source media="(max-width: 600px)" srcset="/assets/images/why_us4-m.png">
                <source media="(min-width: 601px)" srcset="/assets/images/why_us4.png">
                <img loading="lazy" decoding="async" src="/assets/images/why_us4.png" alt="urban environment in green" width="306" height="360">
            </picture>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-887">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Mission</span>
            <h2 class="cs-title">Empowering Communities Through Soccer and Ubuntu</h2>
            <p class="cs-text">
                At Ubuntu Spokane (US), we're dedicated to fostering a thriving soccer community in Spokane, guided by the principles of Ubuntu. Through our exceptional coaching consulting and engaging summer soccer camps, we inspire children of all ages and skill levels to become passionate, skilled, and compassionate soccer players.            </p>
            <p class="cs-text">Our mission goes beyond the field. We believe in instilling values like Courage, Accountability, Friendship, and Communication, empowering players to succeed both on and off the pitch. With a focus on creating a safe and inclusive environment, we aim to cultivate confident individuals who will make a positive impact in their communities.</p>
            <p class="cs-text">Join us in embracing the spirit of Ubuntu and unleashing the potential within every player.</p>
            <a href="/contact" class="cs-button-solid">Schedule An Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">130+</span>
                <span class="cs-desc">Kids Served <br>Every Year</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">50+</span>
                <span class="cs-desc">Coaches <br>Mentored</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100%</span>
                <span class="cs-desc">Client <br>Satisfaction</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">3+</span>
                <span class="cs-desc">Locations served in <br>Spokane</span>
            </li>
        </ul>
    </div>
</section>
                                
                                
{% include 'components/cta.html' %}
{% endblock %}